.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.btn-primary { background: #1B2631; color: white; }
.btn-danger { background: #C05B52; color: white; }