/* Esta parte es para todas las vistas, son los estilos de la estructura, excepto la del login */
* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    background-attachment: fixed; /* Fija el fondo */
    height: 100vh; /* Asegura que el fondo cubra toda la pantaña */
    display: flex;
    overflow: hidden;
}

.container-right {
    margin-left: 270px;
    width: 85%;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.up {
    text-align: center;
    top: 0;
    overflow-y: auto;
}

.search {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.search1 {
    display: flex;
    gap: 30px;
}

/* Ahora, solo los estilos de la vista de bienvenida se aplican dentro de .welcome-view */
/* Ocupa toda la altura dentro del área derecha */
.welcome-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* usa 100%, ya que container-right ya tiene 100vh */
    position: relative;
}

/* Contenido centrado vertical y horizontal */
.welcome-container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    color: white;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.welcome-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.date-time-box {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
}
.subtitulo {
    background-color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin-top: -10px;
    display: inline-block;
}
